{% extends 'base.html' %}
{% load static %}

{% block title %}
Products page
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">${{ product.price }}</p>
                </div>
            </div>
            <div class="form-group">
                <a href="{% url 'landing' product.id %}" class=" form-control btn btn-primary">View</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}